
 body{
    background: #ff9f1a;
    display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 100vh;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.app { 
    background-color: #7d5fff;
    color:#fff;
    border: 7px solid #ffb8b8;
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}



.container h1{
    font-size: 60px;
    color: #ff9f1a;
}

.day {
    font-size: 3em;
    color: #fffa65;
    
}

.info {
    font-weight: bold;
    font-size: 20px;
}