
 body{
    display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 100vh;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.app { 
    border: 7px dotted #333;
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}



h1{
    font-size: 60px;
}

.day {
    font-size: 3em;
    color: blue;
    
}

.info {
    font-weight: bold;
    font-size: 20px;
}